.tree{
  .next-tree-switcher-noline{
    display: none;
  }
  .next-tree-node{
    border-bottom: 1px solid #ececec;
    padding: 5px 0 ;
  }
  .next-tree-child-tree{
    clear: both;
    overflow: hidden;
    li{
      float: left;
      border-bottom: none;
    }
  }
}
